<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godofburguer.app.godofburguer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:theme="@style/ThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ListagemInsumosActivity"
            android:label="@string/insumos"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".InsumosActivity"
            android:label="@string/insumos"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".FornecedoresActivity"
            android:label="@string/fornecedores"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".ListagemFornecedoresActivity"
            android:label="@string/fornecedores"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".ClientesActivity"
            android:label="@string/clientes"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".ListagemClientesActivity"
            android:label="@string/clientes"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".LanchesActivity"
            android:label="@string/lanches"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".ListagemLanchesActivity"
            android:label="@string/lanches"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".CadastroUsuarioActivity"
            android:label="@string/usuarios"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".ListagemUsuariosActivity"
            android:label="@string/usuarios"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

    </application>

</manifest>